:root {
  --font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  background-color: #ffffff;
}

/* Посилання */
a {
  text-decoration: none;
  color: inherit;
}

/* Кнопки */
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: #e44848;
  transition: background-color 0.2s;
  padding: 16px;
  border-radius: 200px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  width: 166px;
  height: 56px;
}

.button:hover,
.button:focus {
  background-color: #d84343;
}

/* Глобальні заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #101828;
}
h3 {
  font-size: 24px;
  line-height: 1.33333;
}
/* Гнучка верстка для контейнера */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Лічильники, бейджі */
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ef4444;
  color: #fff;
  font-size: 0.75rem;
  width: 20px;
  height: 20px;
  position: relative;
  top: -4px;
  right: -4px;
}
