.card {
  display: flex;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  gap: 24px;
}

.imageWrapper {
  width: 292px;
  height: 320px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 524px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.header span {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  margin-left: auto;
}

.favorite {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  width: 26px;
  height: 24px;
  padding: 0;
  margin-left: 12px;
}

.favorite.active svg {
  fill: #e44848;
}

.ratinglocation {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.meta {
  display: flex;
  align-items: center;
}
.meta span {
  margin-right: 16px;
}

.iconstar {
  fill: #ffc531;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.iconmap {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.location {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.description {
  color: #475467;
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.equipments {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.equipments li {
  background-color: #f2f4f7;
  border-radius: 100px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.equipments .icon {
  width: 21px;
  height: 20px;
  fill: #101828;
}

.button {
  margin-top: auto;
}

.button:hover {
  background-color: #005bb5;
}

.icon {
  width: 26px;
  height: 24px;
}
